html, body {
	margin: 0;
	padding: 0;
}

#image-wrapper {
	width: 1080px;
	height: 1920px;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
}

.emotion-image {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.emotion-image.active {
	display: block;
	position: absolute;
	top: 0px; /* Hier kannst du den gewünschten Abstand zum oberen Rand einstellen */
	left: 0px; /* Hier kannst du den gewünschten Abstand zum linken Rand einstellen */
}




